
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Remboursement</h1>
            <center>
            <img src="{{ asset('image/') }}{{ remboursement.pieceJointe }}" style="width: 1000px">
            </center>
{% endblock %}
